<!-- form_forでユーザーにinputをさせる -->
<% @title = '計算フォーム' %>
<h1><%= @title %></h1>
<div>
  <%= form_tag ('/calculations/result') do %>
    <div>
      <%= label_tag :loan_amount, '借入金額' %>
      <%= number_field_tag :loan_amount, required: true %>万円
    </div>
    <div>
      <%= label_tag :borrowing_month, '借入期間' %>
      <%= number_field_tag :borrowing_month, required: true %>ヶ月
    </div>
    <div>
      <%= label_tag :interest_rate, '金利' %>
      <%= number_field_tag :interest_rate, :step => 0.001, required: true %>%
    </div>
    <div>
      <%= label_tag :time_to_check, '残債を求めたいタイミング' %>
      <%= month_field_tag :time_to_check %>
    <div>
      <%= submit_tag '毎月の返済額を計算する' %>
    </div>
  <% end %>
</div>
